.paginacion {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  
.icon {
  width: 28px;
  height: 28px;
}

  .pagina-btn {
    background-color: rgb(234, 234, 16);
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }